<main>
  <div id="login-form-holder">
    <form method="post" action="" id="login-form>" name="login-form">
      <label for="email"> Email: </label>
      <input
        id="email"
        type="text"
        placeholder="Enter your E-mail"
        ngModel
        #emailInput
      />
      <label for="password"> Password: </label>
      <input
        id="password"
        type="text"
        placeholder="Enter your password"
        ngModel
        #passwordInput
      />

      <div id="form-actions">
        <input (click)="login()" type="button" value="Login" />
      </div>
    </form>
    <div id="register-div-holder">
      <p>Don't have an account? &nbsp;</p><a routerLink="/register">Register here</a>
    </div>
    <div *ngIf="errors.length > 0" id="error-output">
      <h4>{{ errors.length > 1 ? "Errors:" : "Error:" }}</h4>
      <p *ngFor="let error of errors">
        {{ error }}
      </p>
    </div>
  </div>
</main>
