<div id="checkout-form-root">
    <div id="checkout-form-holder">
      <label for="firstName">
        First Name:
      </label>
      <input (change)="setFirstName($event)" id="firstName" type="text" placeholder="Enter first name here"/>

      <label for="lastName">
        Last Name:
      </label>
      <input (change)="setLastName($event)" id="lastName" type="text" placeholder="Last Name"/>

      <label for="email">
        Email:
      </label>
      <input (change)="setAddress($event)" id="email" type="text" placeholder="Email"/>

      <label for="address">
        Address:
      </label>
      <input (change)="setEmail($event)"  id="address" type="text" placeholder="Address"/>

      <label for="selectShippingMethod">
        Shipping Method:
      </label>
      <select (change)="setShippingMethod($event)"  id="selectShippingMethod">
        <option *ngFor="let shippingMethod of shippingMethods" [value]="shippingMethod.id+''">
          {{shippingMethod.Name}} - {{shippingMethod.Cost}}$
        </option>
      </select>

      <div id="form-actions">
        <input (click)="checkout()" type="button" [value]="'Checkout: '+(totalCost+selectedShippingMethod.Cost)+'$'"/>
        <input (click)="closeDialog.emit()" type="button" value="Close"/>
      </div>
    </div>
</div>