#order-details-root {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.548);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #order-details-holder {
    position: relative;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    box-shadow: -2px 2px 4px rgb(136, 136, 136);
    background-color: #eecda9;
    padding: 20px;

    p{
      margin-block: 10px;
    }

    .fw-500{
      font-weight: 700;
    }

    #close-order-details {
      position: absolute;
      top: 10px;
      right: 10px;

      cursor: pointer;
      transition: color ease-in-out 0.2s;
      z-index: 30;

      &:hover {
        color: orangered;
      }
    }

    table {
      border: 2px solid black;
      border-collapse: collapse;

      th,
      td {
        border: 2px solid black;
        padding: 10px 12px;
      }

      thead {
        position: sticky;
        top: -21px;
        th {
          background-color: rgb(85, 30, 25);
          color: rgb(230, 177, 126);
        }
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: rgb(231, 197, 161);
          }

          &:nth-child(even) {
            background-color: rgb(236, 206, 178);
          }

          td {
            padding: 15px;
            text-align: center;

            img {
              display: block;
              max-height: 150px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  #order-details-root {
    #order-details-holder {
      width: 75%;
      height: 75%;
    }
  }
}

@media (min-width: 0px) and (max-width: 800px) {
  #order-details-root {
    #order-details-holder {
      width: 90%;
      height: 90%;
    }
  }
}
