<div id="author-insert-form-holder">
    <form id="author-insert-form" (submit)="formSubmitted($event)" >
        <label for="first-name">First Name:</label>
        <input id="first-name"  name="first-name" type="text"/>
        <label for="last-name">Last Name:</label>
        <input id="last-name"  name="last-name" type="text"/>
        <label for="birth-date">Author Birth Date:</label>
        <input id="birth-date" name="birth-date" type="date"/>
        <input type="submit" value="Insert" >
    </form>
</div>